<form [formGroup]="loginForm" (ngSubmit)="onSubmitForm()">
  <div class="flex flex-col gap-2">
    <h2 class="font-Montserrat text-secondary">Login Page</h2>
    <div>
      <label class="input validator">
        <svg
          class="h-[1em] opacity-50"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <g
            stroke-linejoin="round"
            stroke-linecap="round"
            stroke-width="2.5"
            fill="none"
            stroke="currentColor"
          >
            <rect width="20" height="16" x="2" y="4" rx="2"></rect>
            <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
          </g>
        </svg>
        <input
          type="email"
          placeholder="mail@site.com"
          required
          formControlName="email"
          autocomplete="email"
        />
      </label>
    </div>
    <div>
      <label class="input validator">
        <svg
          class="h-[1em] opacity-50"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <g
            stroke-linejoin="round"
            stroke-linecap="round"
            stroke-width="2.5"
            fill="none"
            stroke="currentColor"
          >
            <path
              d="M2.586 17.414A2 2 0 0 0 2 18.828V21a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h1a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h.172a2 2 0 0 0 1.414-.586l.814-.814a6.5 6.5 0 1 0-4-4z"
            ></path>
            <circle cx="16.5" cy="7.5" r=".5" fill="currentColor"></circle>
          </g>
        </svg>
        <input
          autocomplete="current-password"
          type="password"
          required
          placeholder="Password"
          formControlName="password"
        />
      </label>
    </div>
    <button class="btn btn-primary">Login</button>
    <p>
      Don´t have an account?
      <a routerLink="/auth/register" class="link link-accent">
        Register here
      </a>
    </p>
  </div>
</form>

@if (hasError()) {
<app-alert errorMessage="Login error" errorColor="error"/>
}
