<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th>
          <label>
            <input type="checkbox" class="checkbox" />
          </label>
        </th>
        <th>Title</th>
        <th>Price</th>
        <th>Stock</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- Item -->
      @for (product of products(); track $index) {

      <tr>
        <th>
          <label>
            <input type="checkbox" class="checkbox" />
          </label>
        </th>
        <td>
          <div class="flex items-center gap-3">
            <div class="avatar">
              <div
                class="mask mask-squircle h-12 w-12 hover:scale-120 cursor-pointer"
                [routerLink]="['/admin/product', product.id]"
              >
                <img
                  [src]="product.images | productImage"
                  [alt]="product.title"
                />
              </div>
            </div>
            <div>
              <a
                [routerLink]="['/admin/product', product.id]"
                class="font-bold hover:text-accent transition-colors"
                >{{ product.title }}</a
              >
              <div class="flex gap-2">
                @for (size of product.sizes; track $index) {
                <p class="badge badge-primary">{{ size }}</p>
                }
              </div>
            </div>
          </div>
        </td>
        <td>
          {{ product.price | currency : "EUR" : "symbol" : "1.2-2" : "es-ES" }}
        </td>
        <td>
          @if (product.stock <= 10) {
          <span class="badge badge-error">
            {{ product.stock }}
          </span>
          } @else if (product.stock <= 20) {
          <span class="badge badge-warning">
            {{ product.stock }}
          </span>
          } @else {
          <span class="badge badge-success">
            {{ product.stock }}
          </span>
          }
        </td>
        <th>
          <a
            [routerLink]="['/admin/product', product.id]"
            class="btn btn-ghost btn-xs"
            >See More</a
          >
        </th>
      </tr>
      }
    </tbody>
  </table>
</div>
